


<%- include('../template/header'); %>

<body onload="getDatas()">
 
  <main class="main" id="top">

      <!-- <div id="loading">
<img id="loading-image" src="loader/loader-128x/preloader_1.gif" alt="Loading..." />
</div>   -->

    <%- include('../template/navbar'); %>
    <div>
      <h1 class="text-center mt-5 mb-5 ">ALL PROJECTS</h1>
      <h5 class="text-center mt-5 mb-5 " id="projectNum"></h5>
    </div>
   
<div class="allProject"></div>

<div class="paginations">
  <div id="pagination-container" class="mb-5 mt-5 " ></div>
</div>


</main>
  <%-include("../template/customize"); %>
<%-include("../template/footer"); %>

<script src="scripts/allProject.js"></script>

</body>
      
</html>