
<%- include('../template/header'); %>
<body onload="getDatas()">
  <main class="main" id="top">
        <!-- <div class="container" data-layout="container"> -->

    <%- include('../template/navbar'); %>


    <div class="container-fluid" style="width: 80%;">

        <div class="card-body position-relative">
            <div class="row">
              <div class="col-lg-8">
                <h3>Frequently Asked Questions</h3>
                <p class="mb-0">Below you'll find answers to the questions we get <br class="d-none.d-sm-block"></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="accordion border-x border-top rounded" id="accordionFaq">
                <div class="card shadow-none border-bottom rounded-bottom-0">
                  <div class="card-header p-0" id="faqAccordionHeading1">
                    <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion1" aria-expanded="false" aria-controls="collapseFaqAccordion1"><svg class="svg-inline--fa fa-caret-right fa-w-6 accordion-icon me-3" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="" style="transform-origin: 0.1875em 0.5em;"><g transform="translate(96 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" transform="translate(-96 -256)"></path></g></g></svg><!-- <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
                        <span class="fw-medium font-sans-serif text-900">How contribution tracker bear their expenses?</span></button>
                  </div>
                  <div class="collapse bg-light" id="collapseFaqAccordion1" aria-labelledby="faqAccordionHeading1" data-parent="#accordionFaq">
                    <div class="card-body">
                      <p class="ps-4 mb-0">
                        There is no cost for nonprofits to join our community, and you can rest assured that donations made through Contribution Tracker are efficiently delivered to their intended destination. That being said, in order for us to achieve our mission and provide the best tools, training, and support to our amazing partners, we do retain a small percentage of every donation.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card shadow-none border-bottom rounded-0">
                  <div class="card-header p-0" id="faqAccordionHeading2">
                    <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion2" aria-expanded="false" aria-controls="collapseFaqAccordion2"><svg class="svg-inline--fa fa-caret-right fa-w-6 accordion-icon me-3" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="" style="transform-origin: 0.1875em 0.5em;"><g transform="translate(96 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" transform="translate(-96 -256)"></path></g></g></svg><!-- <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
                        <span class="fw-medium font-sans-serif text-900">How much are the fees?</span></button>
                  </div>
                  <div class="collapse bg-light" id="collapseFaqAccordion2" aria-labelledby="faqAccordionHeading2" data-parent="#accordionFaq">
                    <div class="card-body">
                      <p class="ps-4 mb-0">
                        We pass along the 3% processing fee that third parties charge us at no markup to our nonprofit partners. From there, we retain a 5-12% nonprofit support fee. You can learn more about how these fees are determined in the chart below.
                      </p>
                      <p>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Fee</th>
                                <th  scope="col">What the fee covers</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Direct donations to projects run by BD registered organizations</td>
                                <td>5%*</td>
                                <td>
                                    Tools and support to improve your donating experience
                                </td>
                              </tr>
                              <tr>
                                <td>Direct donations to projects run by organizations registered in all other countries</td>
                                <td>7%*</td>
                                <td>
                                    Tools and support to improve your donating experience.
                                    Additional costs of supporting and disbursing funds to organizations outside of the Bangladesh.
                                </td>
                              </tr>
                          
                         
                            </tbody>
                          </table>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card shadow-none border-bottom rounded-0">
                  <div class="card-header p-0" id="faqAccordionHeading3">
                    <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion3" aria-expanded="false" aria-controls="collapseFaqAccordion3"><svg class="svg-inline--fa fa-caret-right fa-w-6 accordion-icon me-3" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="" style="transform-origin: 0.1875em 0.5em;"><g transform="translate(96 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" transform="translate(-96 -256)"></path></g></g></svg><!-- <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
                        <span class="fw-medium font-sans-serif text-900">Is there a minimum Donation number?</span></button>
                  </div>
                  <div class="collapse bg-light" id="collapseFaqAccordion3" aria-labelledby="faqAccordionHeading3" data-parent="#accordionFaq">
                    <div class="card-body">
                      <p class="ps-4 mb-0">
                        The minimum donation on the site is $5 USD and ৳500 BDT 
                    </p>
                    </div>
                  </div>
                </div>
                <div class="card shadow-none border-bottom">
                  <div class="card-header p-0" id="faqAccordionHeading4">
                    <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion4" aria-expanded="false" aria-controls="collapseFaqAccordion4"><svg class="svg-inline--fa fa-caret-right fa-w-6 accordion-icon me-3" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="" style="transform-origin: 0.1875em 0.5em;"><g transform="translate(96 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" transform="translate(-96 -256)"></path></g></g></svg><!-- <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com -->
                        <span class="fw-medium font-sans-serif text-900">Which currencies can I donate in?</span></button>
                  </div>
                  <div class="collapse bg-light" id="collapseFaqAccordion4" aria-labelledby="faqAccordionHeading4" data-parent="#accordionFaq">
                    <div class="card-body">
                      <p class="ps-4 mb-0">
                        Donors can support projects on Contribution Tracker in BDT,USD,AUD,CAD,EUR and many more.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>

  </main>
  <%-include("../template/scripts"); %>
  <script>
function getData(){
  document.getElementById("loading-spinner").style.display = "none";
}
  </script>
</body>

</html>
