<script>
    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
    if (isFluid) {
      var container = document.querySelector('[data-layout]');
      container.classList.remove('container');
      container.classList.add('container-fluid');
    }
  </script>
  <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <script>
      var navbarStyle = localStorage.getItem("navbarStyle");
      if (navbarStyle && navbarStyle !== 'transparent') {
        document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
  
    
    }
    </script>
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">

        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation">
          <span class="navbar-toggle-icon">
            
            <span class="toggle-line">

        </span>
      </span>
    </button>
   
     

      </div>

     
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar">
        <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
            <li class="nav-item">
                <!-- label-->
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">Organization Dashboard
                  </div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider">
                  </div>
                </div>
                <!-- parent pages--><a class="nav-link" href="/org" role="button" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                        <span class="fas fa-database fs-1"></span>
                    </span><span class="nav-link-text ps-1">Dashboard</span>
                  </div>
                </a>
                <!-- parent pages-->
                <a class="nav-link" href="/addProject" role="button" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <span class="fas fa-layer-group fs-1"></span>
                        </span><span class="nav-link-text ps-1">Add Project</span>
                      </div>
                    </a>
                
             
    
            </ul>
    
  
      </div>
    </div>
  </nav>